<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' media='all'>
    <link href="/css/starability.css" rel='stylesheet' type='text/css' media='all'>
    <link href="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" rel='stylesheet' type='text/css' media='all'>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />
    
    
</head>
<body class="d-flex flex-column vh-100">
    
    <%- include('../partials/navbar') %>
    <div class="container mt-5 mb-5">
        <%- include('../partials/flash')%>
        <%- body %>
    </div>
    <%- include('../partials/footer') %>
    <script src='/js/bootstrap.bundle.min.js'></script>
    <script src='/js/validator.js'></script>
</body>
</html>